@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Air Quality Data</h1>

    <p>Welcome to Air Quality Data. Monitor air quality in your area</p>
    <img src="https://mlawiy0je0ms.i.optimole.com/206F41w.2d6g.2d53d/w:1024/h:576/q:auto/https://www.planetwatch.io/wp-content/uploads/2022/08/Air-pollution.jpg" style="width:75%;" />
    <br> </br>
    <a class="btn btn-outline-info" asp-controller="Temperature" asp-action="Details">Get Sensor Data</a>
    <a class="btn btn-outline-info" asp-controller="AirApi" asp-action="Details">Get API Data</a>


</div>

